body {

	font-family: "Source Sans Pro";
}


.mainheader {

	background: black;
	overflow: hidden;
	border-bottom: solid yellow 5px;
}

.mainheader h1 {

	color: yellow;
	float: left;
	margin: 20px 20px 20px 25px;
	font-family: "Merriweather", serif;
}

.mainheader a {

	color: white;
	float: right;
	text-decoration: none;
	padding: 30px 20px 10px 0;
	font-size: 18px;

}

.mainheader a:hover {

	color: #dddddd;
}

/***************************************************
Section
**************************************************/

.section {

	background: #c6c6c6;
	text-align: center;
	font-family: "Merriweather", serif;
	font-size: 20px;
	padding: 1px;
	font-weight: bold


}

.section h4 {

	padding: 0px;
	font-size: 18px;
}

.section del {

	color: grey;
}

.section q {

	border-bottom: 3px solid yellow;
	line-height: 20px;
}

/***************************************************
Jumbo
**************************************************/

.jumbo {

	background: url("images/coworking.jpg") center center no-repeat;
	background-size: 100%;
	overflow: hidden;
	padding: 3%;
	box-shadow: inset 0 0 5px rgba(0,0,0,.75);
}

.content {

	background: rgba(255,255,255,.8);
	width: 34%;
	margin: 0 auto;
	padding: 4%;
	float: right;
	box-shadow: 0 0 5px rgba(0,0,0,.75);
}


.content h1 {

	font-size: 30px;
	font-weight: bold;
}


.content p {

	margin: 0 0 30px 0;
}



.button {
	font-family: "Oswald", sans-serif;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: bold;
	background: yellow;
	color: black;
	display: block;
	text-align: center;
	padding: 12px;
	box-shadow: inset 0 -3px 0 rgba(0,0,0,.2);
	border-radius: 5px;
}



.button:hover {

	background-color: #ffdd49;
	box-shadow: inset 0 3px 0 rgba(0,0,0,.2);
}


/***************************************************
Sub Content
*********************************************/





#subcontent div {

	padding: 25px;
	float: left;
	width: 28%;
}


.create {

	margin-bottom: 25px;
}
.create h1 {

	font-size: 17px;
	font-family: "Merriweather", serif;
	margin: 10px 0 0 0;
	font-weight: bold;


}


.create p {

	font-size: 12px;
	line-height: 20px;
}

.create button {

	font-size: 14px;
	font-family: "Oswald";
	padding: 5px 80px 5px 60px;
	margin-left: 10px;
	margin-top: 10px;
	border: none;
	border-radius: 2px;
	box-shadow: 0px 2px 10px black;
}


.create button:hover {

	background-color: #dddddd;
}
/***************************************************
Footer
*********************************************/


.footer {

	background: black;
	color: white;
	clear: both;
	padding: 5px 5px 5px 10px;
}

.footer h4 {

	font-family: sans-serif;
	font-weight: normal;
	font-size: 12px;
}

#other {

	display:none;
}

@media only screen and (max-width: 950px) and (min-width: 868px){
	.mainheader {
		font-size: 16px;	
		padding: 0 .25em;
	}

	.mainheader a {

		font-size: 16px;
		padding: 30px 15px;
	}

}

@media only screen and (max-width: 867px){
	body {

	
		font-size: 16px;
	}

	.mainheader a {

		display: none;
	}

	#other {
		display: block;
	}

	.section , .content p {
		display: none;
	}

	#innernav {
		position: absolute;
		width: 94%;
		background-color: #666666;
		display: none;

	}
	#innernav a {

		text-align: center;
		width: auto;
		padding: 1em;
		border-bottom: solid 1px #ffffff;
		border-right: none;
		float: none;		
		display: none;
	}

	#other img {

		position: absolute;
		top: 25px;
		right: 25px;
		display: block;
	}

	#other img:hover #innernav a {

		display: block;
	}
	#subcontent div {

		float: none;
		margin-left: 200px;
	}

	#subcontent h1 {

		text-align: center;
		font-size: 25px;
	}

	.create button {

		margin: 10px;
		padding: 5px 25px 5px 25px;
	}



}







